body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: lightgrey;
    margin: 0;
    padding: 0;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkblue;
}

p {
    color: gray;
    font-size: 16px;
}

.subtitulo {
    color: green;
    font-style: italic;
}

#intro {
    background: yellow;
    padding: 15px 15px 15px 15px;
}

.tarjeta {
    border: solid;
    border-width: 2px;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

button:hover {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

footer > p {
    text-align: center;
    background-color: black;
    color: white;
}